@font-face {
  font-family: 'Code';
  src: url('/fonts/Code.woff2');
}
@font-face {
  font-family: 'S1';
  src: url('/fonts/S1.woff2');
}
@font-face {
  font-family: 'S2';
  src: url('/fonts/S2.woff2');
}
@font-face {
  font-family: 'S3';
  src: url('/fonts/S3.woff');
}
@font-face {
  font-family: 'Flag';
  src: url('/fonts/Flag.ttf');
}
@font-face {
  font-family: 'Crooga';
  src: url('/fonts/Crooga.ttf');
}
@font-face {
  font-family: 'Curcive';
  src: url('/fonts/Cursive.ttf');
}
@font-face {
  font-family: 'Figtree';
  src: url('/fonts/Figtree.ttf');
}
@font-face {
  font-family: 'Milk';
  src: url('/fonts/Milk.ttf');
}
@font-face {
  font-family: 'Nexa+';
  src: url('/fonts/Nexa+.ttf');
}
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik.ttf');
}
@font-face {
  font-family: 'Slice';
  src: url('/fonts/Slice.woff2');
}
@font-face {
  font-family: 'Typo';
  src: url('/fonts/Typo.otf');
}
@font-face {
  font-family: 'Versel';
  src: url('/fonts/Versel.woff2');
}
@font-face {
  font-family: 'Open';
  src: url('/fonts/Open.woff2');
}
@font-face {
  font-family: 'Sofia';
  src: url('/fonts/Sofia.otf');
}
@font-face {
  font-family: 'Prox';
  src: url('/fonts/proxima.woff2');
}
@font-face {
  font-family: "Gre";
  src: url("/fonts/Gerhaus-PK69E.ttf");
}
